name: Validate with hassfest and HACS

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run hassfest
        uses: home-assistant/actions/hassfest@master

      - name: Run HACS Action
        uses: hacs/action@22.5.0
